<form [formGroup]= "personaForm" (ngSubmit)="guardar()"> 
  <div class="format">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" formControlName="nombre" class="form-control" />
    </div>
  
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input id="apellido" type="text" formControlName="apellido" class="form-control" />
    </div>
  
    <div class="form-group">
      <label for="edad">Edad</label>
      <input id="edad" type="number" formControlName="edad" class="form-control" />
    </div>
  
    <div class="form-group">
      <label>País</label>
      <select name="pais" id="pais" formControlName="pais" class="form-control" (change)="cargarEstadosPorPaisesId($event)">
        <option [value]="item.id" *ngFor="let item of paises">{{item.nombre}}</option>
      </select>
    </div>
  
    <div class="form-group">
      <label>Estado</label>
      <select name="estado" id="estado" formControlName="estado" class="form-control" >
        <option [value]="item.id" *ngFor="let item of estados">{{item.nombre}}</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<router-outlet></router-outlet>
